@use "sass:math";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.root {
	display: grid;
	grid-template-areas: 
		"header header"
		"char editor" 
		"char preview";
	grid-template-columns: 200px;
	grid-template-rows: 60px 1fr;

	height: 100vh;

	> .root-header {
		grid-area: header;
	}

	> .root-char {
		grid-area: char;
		overflow: auto;
	}

	> .root-editor {
		grid-area: editor;
	}

	> .root-preview {
		grid-area: preview;
	}
	
}

.root-header {
	> h1 {
		text-shadow: 1px 1px 1px white, 2px 2px 1px white, 3px 3px 1px #211, 3px 3px 4px #211;
		font-weight: 300;
		font-size: 2rem;
	}

	background: linear-gradient(rgb(100, 100, 100), rgb(213, 213, 213));

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid gray;
}

.root-preview {
	border-top: 1px solid gray;
	padding: 11px;

	> input {
		font-size: 1em;
		padding: 4px;
		width: 100%;
	}

	.font-preview {
		display: flex;

		margin-top: 10px;
	}
}

.root-char {
	border-right: 1px solid gray;

	> .char {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid gray;

		padding: 2px;

		$ratio: math.div(9, 16);

		table {
			width: 40px * $ratio;
			height: 40px;
		}

		&:hover {
			background-color: #eee;
		}

		&.selected {
			background-color: #f08cc6;
		}
	}
}

.glyph-table-container {
	table {
		border-collapse: collapse;
	}

	.filled {
		background-color: black;
	}
}

.root-editor {
	padding: 11px;

	.glyph-table-container {
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;
		td {
			border: 1px solid gray;
			width: 10px;
			height: 10px;
		}
	}
}